<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyAnTdTYG5Z_odb9yfpAkLUHw0GOV943FJ8",
    authDomain: "boreal-ellipse-253307.firebaseapp.com",
    databaseURL: "https://boreal-ellipse-253307.firebaseio.com",
    projectId: "boreal-ellipse-253307",
    storageBucket: "boreal-ellipse-253307.appspot.com",
    messagingSenderId: "1004578154527",
    appId: "1:1004578154527:web:6270193ca2b2c63299cd2a",
    measurementId: "G-NWPDMHRX5Y"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

<p>firebasedemo works!</p>
<table>
<tr *ngFor="let order of data">
    <td>{{ order.payload.doc.data().name }}</td>
    <td>{{ order.payload.doc.data().id }}</td>

 </tr>
</table>