<!--The content below is only a placeholder and can be replaced.-->
<!-- {{employee.code}} -->
 <!-- <router-outlet></router-outlet>  -->
 <!-- <app-abc [myval]="myval"></app-abc> -->

 <!-- <app-abc (messageToEmit)="getMessage($event)"></app-abc>
app component -->
 

<!--  
<input type="text" #abc value="ADad" />


<button (click)="fun(abc.value)" ></button>
{{abc.value}} -->


<!-- {{bbbb.abc}} -->
<!-- <input type="text" value="Sdsdsdsdsd"   [(ngModel)]="userName" />-->
<!-- <input type="text" value="aaaaaaa" #adadad />  -->

<!-- <button (click)="fun()" value="Sfsfs">sssssss</button> -->
<!-- <ng-content select="div"></ng-content> -->

<!-- <p>dadadadadadadadadadad</p>
<div>sssssss</div>

<app-binding-stuff>
    <p #parentRef>abababababababababb</p>
</app-binding-stuff> -->

 <!-- <button class="btn btn-warning" (click)="abc()" #input>adadad</button>  -->

 
<!-- <div *appAbcdir="isLoggedIn" >isLoggedIn</div> -->


 <!-- <div *ngIf="isLoggedIn; else loggedOut">
    Welcome back, friend.
  </div>  
  <ng-template #loggedOut>
    Please friend, login.
  </ng-template> -->

  <!-- <input [(ngModel)]="searchText" placeholder="search text goes here">

  <li *ngFor="let c of gg | abcpipis : searchText">
    {{c}}
  </li> -->
<!-- 
<div>{{gg | abcpipis :"a":true}}</div> -->


<!-- 

  <input type="text" (change)="onInputChanged($event)"> -->



<!-- 
  <ng-template [ngIf]="isLoggedIn" [ngIfElse]="loggedOut">
    <div>
      Welcome back, friend.
    </div>
  </ng-template>
  
  <ng-template #loggedOut>
    <div>
      Please friend, login.
    </div>
  </ng-template> -->

  <!-- Styling Active Router Links -->
<!-- <a [routerLink]="['fg/[1,2,3,4]/a']" routerLinkActive="active">sdsdsd</a> -->



<!-- Fragment and Query Parameter -->
<!-- <a [routerLink]="['abc/new']" [queryParams]="{id: '1',name: '1'}" fragment="abc">sdsdsd</a> -->
<!-- this.router.navigate( [
  'Details', { id: 'companyId', param1: 'value1'
}]); -->

<!-- ng generate module big-module --routing -->

app comp

<!-- <emoji-mart title="Pick your emoji…" emoji="point_up"></emoji-mart> -->
<!-- <emoji-mart set="emojione"></emoji-mart>
<emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
<emoji-mart
  [style]="{ position: 'absolute', bottom: '20px', right: '20px' }"
></emoji-mart>
<emoji-mart
  [i18n]="{ search: 'Recherche', categories: { search: 'Résultats de recherche', recent: 'Récents' } }"
></emoji-mart> -->



<!-- <a [routerLink]="['abc/5']" routerLinkActive="active">a</a><br>
<a [routerLink]="['form']" routerLinkActive="active">FORM</a><br>

<a [routerLink]="[{ outlets: { 'aux': ['new'] } }]" routerLinkActive="active">sdsdsd</a>

<router-outlet></router-outlet>
<router-outlet name="aux"></router-outlet> -->

<app-firebasedemo></app-firebasedemo>